@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  color: white;
}

.blob {
  overflow: hidden;
}

.blobphoto {
  width: 100%;
  height: 100%;
}

/*(House 1)------------------------------------------------------------------------------*/

.crossword-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #242424;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.crossword-item {
  width: 30%;
}

/* From Uiverse.io by shah1345 */ 
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/*(House 2)------------------------------------------------------------------------------*/

.quiz-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  text-align: center;
  background-image:url("/bg1.png");
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
}

.question-container {
  margin: 20px;
  font-size: 20px;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}

.options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.image-container {
  height: 300px;
  width: 300px;
}

.image {
  width: 100%;
}

.option-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.option-button:hover {
  background-color: darkgray;
}

.option-button.selected {
  background-color: #d1e7dd;
}

.popup {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup p {
  margin: 0;
  font-size: 18px;
}

.popup button {
  margin-top: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.quiz-home {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

/*(House 4)------------------------------------------------------------------------------*/

